# Ignore node_modules directory for Node.js projects
node_modules/

# Ignore .env files containing sensitive information
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore Docker images and containers
.docker/

# Ignore Vagrant VM files
.vagrant/

# Ignore compiled files
/dist/
/build/

# Ignore OS-specific files
.DS_Store
Thumbs.db
